.section {
  padding: 94px 0;
  text-align: center;

  &--features {
    padding-bottom: 47px;
  }

  &--services {
    padding-top: 47px;
  }

  &--team {
    background-color: var(--background-color-light);
  }
}

.container {
  padding: 0 15px;

  &--footer {
    display: flex;
  }
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.list {
  list-style: none;
}

.link {
  font-size: inherit;
  text-decoration: none;
  color: var(--main-color-dark);
}

.button-base {
  font-family: inherit;
  cursor: pointer;
  color: var(--main-color-dark);
}
